<div class="row">
  <div class="col-sm-12 col-lg-12">
    <h1>Clothing</h1>
    <hr>
    <div class="clothing">
      {{#each results_clothes}}
      <a href="/product/{{this.itemID}}">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{this.name}}</h4>
          </div>
          <div class="panel-body" stlye="padding:0px;">
            <img src="/product_uploads/{{this.photoURL}}" class="block-center" height="150px" width="150px">
          </div>
          <div class="panel-footer">
            <button class="btn btn-default">
              ${{this.price}}
            </button>
          </div>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-lg-12">
    <h1>Electronics</h1>
    <hr>
    <div class="clothing">
      {{#each results_electronics}}
      <a href="/product/{{this.itemID}}">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{this.name}}</h4>
          </div>
          <div class="panel-body" stlye="padding:0px;">
            <img src="/product_uploads/{{this.photoURL}}" class="block-center" height="150px" width="150px">
          </div>
          <div class="panel-footer">
            <button class="btn btn-default">
              ${{this.price}}
            </button>
          </div>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-12">
    <h1>Others</h1>
    <hr>
    <div class="clothing">
      {{#each results_others}}
      <a href="/product/{{this.itemID}}">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{this.name}}</h4>
          </div>
          <div class="panel-body" stlye="padding:0px;">
            <img src="/product_uploads/{{this.photoURL}}" class="block-center" height="150px" width="150px">
          </div>
          <div class="panel-footer">
            <button class="btn btn-default">
              ${{this.price}}
            </button>
          </div>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
</div>
