{{#if items}}
  {{#grouped_each 4 items}}
  <div class="row">
    {{#each this}}
      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="thumbnail">
          <img src="/product_uploads/{{photoURL}}" height="160" width="160" alt="...">
          <div class="caption">
            <h3>{{name}}</h3>
            <p><a href="/product/{{itemID}}" class="btn btn-primary" role="button">Edit</a> <a href="/product/{{itemID}}/delete" class="btn btn-danger" role="button">Delete</a></p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  {{/grouped_each}}
{{else}}
<div class="row">
  You have no items. Click the add product to add a new item.
</div>
{{/if}}
